
@{
    ViewBag.Title = "Manage Case Notice";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .color-heading {
        font-size: 23px;
        font-weight: 700;
    }

    .color-sub-heading {
        font-size: 16px;
    }

    .color-title {
        font-weight: 600;
        font-size: 17.3px;
    }

    .to-notify{
        font-weight: 700;
        font-size: 18px;
        color:red;
    }
</style>


<div class="container mt-5 mb-5 p-3 shadow rounded">

    <h1 class="color-heading">Notice of Case <span style="text-decoration:underline">2021-03-0W3</span></h1>
    <p class="color-sub-heading" style="font-style:italic">Reyes v Pineda</p>

    <div class="row pt-3">
        <div class="col-2 text-end">
            <label for="" class="col-form-label" style="font-weight:600">Hearing Schedule</label>
        </div>
        <div class="col-10">
            <div class="border bg-white rounded form-control">
                <span>June 1, 2021, 09:00 AM</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-end">
            <a href="/Notice/ScheduleSelection">Change schedule?</a>
        </div>
    </div>

    <div class="table-responsive pt-3">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Type of Notice</td>
                    <td>Resident Name(s)</td>
                    <td>Status</td>
                    <td>Actions</td>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Hearing Notice</td>
                    <td>REYES, Michael, Villa</td>
                    <td class="to-notify">TO NOTIFY</td>
                    <td><button class="btn btn-sm btn-success">Set to Notified</button></td>
                </tr>

                <tr>
                    <td>Summon Notice</td>
                    <td>PINEDA, Mark, Perez</td>
                    <td class="">-</td>
                    <td>
                        <div class="btn-group" role="group">
                            <input type="checkbox" class="btn-check" id="allowSign" autocomplete="off" onclick="toggleCheck(this, 'summonBtn')">
                            <label class="btn btn-outline-dark btn-sm" for="allowSign">PB Signature</label>

                            <button type="button" class="btn btn-primary btn-sm" id="summonBtn" disabled>Create Summon Record</button>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>Pangkat Notice</td>
                    <td>-</td>
                    <td class="">-</td>
                    <td>
                        <div class="btn-group" role="group">
                            <input type="checkbox" class="btn-check" id="allowSign1" autocomplete="off" onclick="toggleCheck(this, 'pangkatBtn')">
                            <label class="btn btn-outline-dark btn-sm" for="allowSign1">PB Signature</label>

                            <button type="button" class="btn btn-primary btn-sm" id="pangkatBtn" disabled>Create Pangkat Constitution Record</button>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>Subpoena Notice</td>
                    <td>-</td>
                    <td class="">-</td>
                    <td>
                        <button class="btn btn-secondary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#witness-collapse" aria-expanded="false" aria-controls="witness-collapse">
                            Create Witness Record ▼
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="collapse pt-3" id="witness-collapse">
        <div class="card card-body border-0" >
            @*Witness*@
            <div class="rounded" id="dynamic-witness">
                <div class="row g-0 ">
                    <div class="col-lg-6 ">
                        <p class="color-title d-block my-auto" style="font-size:18px; font-weight: 600">Witness</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-end rounded">
                            <a href="#dynamic-witness" onclick="AddWitness()" class="">Add another witness</a>
                        </div>
                    </div>
                </div>

                <div id="name-container" class="rounded mb-0" style="background-color: white">

                    @*row*@
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingLName" name="last-name" required />
                                <label for="floatingLName">Last Name</label>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mt-3 mt-lg-0">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatinfLName" name="first-name" required />
                                <label for="floatingfName">First Name</label>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 mt-3 mt-lg-0">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingmName" name="middle-name" required />
                                <label for="floatingmName">Middle Name</label>
                            </div>
                        </div>


                        <div class="col-lg-1 d-block mt-3 m-lg-auto">
                            <a href="#dynamic-witness" class="btn btn-danger btn-sm d-block my-auto mx-auto disabled text-white" onclick="RemoveMe(this)">Remove</a>
                        </div>
                    </div>

                </div>

                <div class="row mt-3">
                    <div class="col-12 text-end">
                        <div class="btn-group" role="group">
                            <input type="checkbox" class="btn-check" id="allowSign2" autocomplete="off" onclick="toggleCheck(this, 'witnessBtn')">
                            <label class="btn btn-outline-dark btn-sm" for="allowSign2">PB Signature</label>

                            <button class="btn btn-primary btn-sm" id="witnessBtn" disabled>Create Witness Record</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts{
<script>

    

    function AddWitness() {
        var container = $("#name-container");
        $(container).append
            (`

                <div class="row mt-3">
                        <div class="col-lg-4">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingLName" name="last-name" required />
                                <label for="floatingLName">Last Name</label>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 mt-3 mt-lg-0">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatinfLName" name="first-name" required />
                                <label for="floatingfName">First Name</label>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 mt-3 mt-lg-0">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingmName" name="middle-name" required />
                                <label for="floatingmName">Middle Name</label>
                            </div>
                        </div>


                        <div class="col-lg-1 d-block mt-3 m-lg-auto">

                            <a href="#dynamic-witness" class="btn btn-danger btn-sm d-block my-auto mx-auto text-white" onclick="RemoveMe(this)">Remove</a>
                        </div>
                    </div>
                `);
    };

    function RemoveMe(element) {
        var elem = document.getElementById("name-container");
        elem.removeChild(element.parentNode.parentNode);
    }

</script>}