body {
    font-family: 'Source Sans Pro', sans-serif;
}

/*application design colors*/
/*.color-heading {
    color: #355e3b;
}

.color-sub-heading {
    color: #004953;
}

.color-title {
    color: #4a503d;
}

.color-message {
    color: black;
}

.color-misc {
    color: #d1e231;
}
*/