
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .sidebar {
        height: 100%;
        width: 220px; /*change to 0px*/
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        transition: 0.5s;
        background: rgb(29,43,69);
        background: -moz-linear-gradient(159deg, rgba(29,43,69,1) 0%, rgba(41,66,94,1) 100%);
        background: -webkit-linear-gradient(159deg, rgba(29,43,69,1) 0%, rgba(41,66,94,1) 100%);
        background: linear-gradient(159deg, rgba(29,43,69,1) 0%, rgba(41,66,94,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1d2b45",endColorstr="#29425e",GradientType=1);
    }

    .openbtn {
        font-size: 20px;
        cursor: pointer;
        color: black;
        background-color:#fff;
        padding: 10px 15px;
        border: none;
    }

    .openbtn:hover {
        background-color: #f4f4f4;
    }

    #main-content {
        transition: margin-left .5s;
        margin-left: 220px;
    }

    #topNavBar {
        transition: margin-left .5s;
        background-color: #1d2b45;
        margin-left: 220px;
    }

    #main-account-link {
        font-size: 17px;
    }

    #sub-link {
        font-size: 16px;
    }

    .nav-item {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #main-account-link a {
        font-weight: 600;
        color: #8596a7;
    }

    #sub-link a {
        font-weight: 600;
        color: #808B96;
        padding-left: 40px;
    }

    #main-account-link a:hover {
        text-decoration: none;
        background-color: #2C3E50;
        color: #D6DBDF;
    }

    #sub-link a:hover {
        text-decoration: none;
        background-color: #555;
        color: white;
    }

    .x-nav-title {
        font-size: 19px;
        font-weight: 600;
        opacity: 85%;
    }

    .sidebar-title {
        font-size: 17px;
        color: #c8d2dd;
        font-weight: 600;
        padding-bottom: 0;
        margin-bottom: 10px;
    }

    #topNavBar .nav-item{
        font-weight: 600;
        opacity: 85%;
        color:black;
    }

    #topNavBar .nav-item:hover{
        opacity: 100%;
    }
</style>


<div class="sidebar" id="sidebar">

    <!-- Image Top -->
    <div class="mb-1 text-center px-2 mt-4">
        <div>
            <img src="~/Content/Images/Sinisian.png" class="w-75" />
        </div>
        @*<p class=" sidebar-title">Province of Batangas, Municipality of Calaca, Barangay Sinisian</p>*@
    </div>

    <div class="nav-links">

        <ul class="nav flex-column" id="main-account-link">

            <li class="nav-item">
                <a class="nav-link" id="datetime-container"></a>
            </li>

            <li class="nav-item">
                <a href="/Home/Index" class="nav-link ">
                    Home
                </a>
            </li>

            <li style="background-color: #8596a7; padding-top: 1px; padding-bottom: 1px;"></li>

            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#incidentreport-collapse" role="button" aria-expanded="false" aria-controls="incidentreport-collapse">
                    Incident Report ▼
                </a>

                <div class="collapse" id="incidentreport-collapse" style="background-color: #273746;">
                    <ul class="nav flex-column" id="sub-link">
                        <li class="nav-item">
                            <a href="/IncidentReport/CreateReport" class="nav-link" id="">Create Incident Report</a>
                        </li>
                        <li class="nav-item">
                            <a href="/IncidentReport/DisplayOngoingIncidentReports" class="nav-link" id="">Display Ongoing Cases</a>
                        </li>
                        @*<li class="nav-item">
                            <a href="/IncidentReport/DisplayReportSummary" class="nav-link" id="">Search for an Incident Report</a>
                        </li>*@
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#notice-collapse" role="button" aria-expanded="false" aria-controls="notice-collapse">
                    Notices ▼
                </a>

                <div class="collapse" id="notice-collapse" style="background-color: #273746;">
                    <ul class="nav flex-column" id="sub-link">
                        <li class="nav-item">
                            <a href="/Notice/CasesForNotices" class="nav-link" id="">Cases with Incomplete Notice</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Notice/DisplayNotices" class="nav-link" id="">Display Notices</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#hearing-collapse" role="button" aria-expanded="false" aria-controls="hearing-collapse">
                    Hearing Process ▼
                </a>

                <div class="collapse" id="hearing-collapse" style="background-color: #273746;">
                    <ul class="nav flex-column" id="sub-link">
                        <li class="nav-item">
                            <a href=@Url.Action("CasesForHearing", "Hearing", new { hearingType = "Mediation" }) class="nav-link" id="">Show All Hearing Mediation</a>
                        </li>
                        <li class="nav-item">
                            <a href=@Url.Action("CasesForHearing", "Hearing", new { hearingType = "Conciliation" }) class="nav-link" id="">Show All Hearing Conciliation</a>
                        </li>
                        <li class="nav-item">
                            <a href=@Url.Action("CasesForHearing", "Hearing", new { hearingType = "Arbitration" }) class="nav-link" id="">Show All Hearing Arbtiration</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li style="background-color: #8596a7; padding-top: 1px; padding-bottom: 1px;"></li>

            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#account-collapse" role="button" aria-expanded="false" aria-controls="account-collapse">
                    Account ▼
                </a>

                <div class="collapse" id="account-collapse" style="background-color: #273746;">
                    <ul class="nav flex-column" id="sub-link">
                        <li class="nav-item">
                            <a href="/Account/MyAccount/" class="nav-link" id="">My Account</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Account/RegisterNewAccount" class="nav-link" id="">Register New User Account</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Account/ManageAccounts" class="nav-link" id="">Manage Accounts</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a href="/AuditTrail/Index" class="nav-link ">
                    Audit Trail
                </a>
            </li>

            <li style="background-color: #8596a7; padding-top: 1px; padding-bottom: 1px;"></li>

            <li class="nav-item">
                <a href="/Account/Login" class="nav-link ">
                    Logout
                </a>
            </li>

        </ul>
    </div>
</div>

<div id="topNavBar" class="">
    <nav class="navbar navbar-expand-md navbar-light bg-light shadow p-0 ">
        <div class="container-fluid">

            <button class="openbtn navbar-brand" onclick="toggleNav()">☰</button>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#x-nav" aria-controls="x-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="x-nav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/IncidentReport/SettledIncidentReports">Settled Cases</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/IncidentReport/DisplayReportSummary">Search Case</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
        @*<div class="d-flex flex-row">
            <button class="openbtn" onclick="toggleNav()">☰</button>

            <span class="x-nav-title m-auto">Incident Reporting Application</span>
        </div>*@
    </nav>
</div>

<div id="main-content" class="rounded bordered">
    <div class="" style="background-color: white;" radius="50px">
        @RenderBody()
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create your Digital Signature</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body m-auto d-block">
                <canvas id="signature-pad" class="shadow"></canvas>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-dark" onclick="undo()">Undo</button>
                <button type="button" class="btn btn-sm btn-secondary" onclick="erasePad()">Erase</button>
                <button type="button" class="btn btn-sm btn-primary" onclick="savePad()">Save Signature</button>
            </div>
        </div>
    </div>
</div>

<script>
    @*signature pad*@
    var signaturePad;
    function openModal() {
        var canvas = document.getElementById('signature-pad');
        canvas.width = "400";
        canvas.height = "300"
        signaturePad = new SignaturePad(canvas, {
            backgroundColor: 'rgb(255, 255, 255)'
        });
        resizeCanvas()
    }

    function resizeCanvas() {
        var canvas = document.getElementById('signature-pad');
        if (window.innerWidth <= 340) {
            canvas.width = "200";
            canvas.height = "300"
        }
        else if (window.innerWidth <= 450) {
            canvas.width = "300";
            canvas.height = "300"
        }
    }

    window.onresize = resizeCanvas;

    function erasePad() {
        signaturePad.clear();
    }

    function undo() {
        var data = signaturePad.toData();
        if (data) {
            data.pop(); // remove the last dot or line
            signaturePad.fromData(data);
        }
    }

    function savePad() {
        if (signaturePad.isEmpty()) {
            return alert("Please provide a signature first.");
        } else {
            var data = signaturePad.toDataURL('image/jpeg');
            console.log(data);
            var hiddenElement = document.createElement('a');
            hiddenElement.href = data;
            hiddenElement.target = '_blank';
            hiddenElement.download = 'digital_signature.jpeg';
            hiddenElement.click();
        }
    }

    window.onload = function () {
        checkDeviceWidth();
        startDate();
    }

    function startDate() {
        var today = new Date();
        let year = new Intl.DateTimeFormat('en', { year: 'numeric' }).format(today);
        let month = new Intl.DateTimeFormat('en', { month: 'long' }).format(today);
        let date = new Intl.DateTimeFormat('en', { day: '2-digit' }).format(today);
        document.getElementById('datetime-container').innerHTML = "Today is " + month + " " + date + ", " + year;
    }

    function checkDeviceWidth() {
        if (window.innerWidth <= 750) {
            document.getElementById("sidebar").style.width = "0";
            document.getElementById("main-content").style.marginLeft = "0";
            document.getElementById("topNavBar").style.marginLeft = "0";
        }
    }

    function toggleNav() {
        var navWidth = document.getElementById('sidebar'), style = window.getComputedStyle(navWidth), width = style.getPropertyValue('width');
        if (width == "0px") {
            document.getElementById("sidebar").style.width = "220px";
            document.getElementById("main-content").style.marginLeft = "220px";
            document.getElementById("topNavBar").style.marginLeft = "220px";
        } else if (width == "220px") {
            document.getElementById("sidebar").style.width = "0";
            document.getElementById("main-content").style.marginLeft = "0";
            document.getElementById("topNavBar").style.marginLeft = "0";
        }
    }

    function toggleCheck(checkbox, buttonId) {
        if (checkbox.checked) {
            document.getElementById(buttonId).disabled = false;
        }
        else {
            document.getElementById(buttonId).disabled = true;
        }
    }

    @*$(document).click(function (e) {
        if (!$(e.target).is('.nav-links')) {
            $('.collapse').collapse('hide');
        }
    });*@
</script>

@Scripts.Render("~/bundles/jquery")
@RenderSection("scripts", required: false)