
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center align-items-center" style="height:100vh">
    <div class="card bg-light shadow-lg border-0" style="width:9in">
        <div class="card-body p-5">

            <div>
                <p class="color-heading text-center" style="font-size:30px; font-weight:600">Forgot Password</p>
                <p class="color-sub-heading text-center" style="font-size:16px; font-weight:300">Sinisian Incident Reporting Application</p>

                <div class="form-group mt-4">
                    <label class="control-label color-title">Username</label>
                    <input type="text" class="form-control" />
                </div>

                <div class="form-group text-md-end mt-3">
                    <button class="btn btn-primary btn-sm" data-bs-toggle="collapse" href="#questions" role="button" aria-expanded="false" aria-controls="questions">Find Account</button>
                </div>

                <div class="collapse mt-4" id="questions">
                    <div class="card card-body border-0 bg-light px-0">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label color-title">Security Question #1</label>
                                    <p class="border rounded-1 px-3 py-1 " style="background-color: white">What primary school did you attend?</p>
                                </div>

                                <div class="form-group pt-1">
                                    <input type="text" class="form-control" placeholder="Answer" />
                                </div>
                            </div>

                            <div class="col-md-6 mt-3 mt-md-0">
                                <div class="form-group">
                                    <label class="control-label color-title">Security Question #2</label>
                                    <p class="border rounded-1 px-3 py-1" style="background-color: white">What was your dream job as a child?</p>
                                </div>

                                <div class="form-group pt-1">
                                    <input type="text" class="form-control" placeholder="Answer" />
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="form-group col-12 text-md-end">
                                <a href="/Account/Login" class="btn btn-sm btn-primary">Forgot Password</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>